<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

  <title>Page not found</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
  <div class="alert fill-parent alert-danger">
    <h2>Page not found</h2>
    <span>Click <a th:href="@{/home}">here</a> to continue.</span>
  </div>
</div>
</body>
</html>
